apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-nssf-config
  labels:
    epc-mode: nssf
data:
  nssf.yaml: |
    logger:
        file: /var/log/open5gs/nssf.log   

    nssf:
      sbi:     
      - addr: 0.0.0.0
        advertise: {{ .Release.Name }}-nssf
      nsi:
      - addr: core5g-nrf
        port: 80
        s_nssai:
          sst: {{ .Values.config.sst }}     
    nrf:
     sbi:
      name: core5g-nrf